header div {
    background-color: rgb(21, 163, 246);
    padding: 35px 100px; 

}
.fontmini {
    font-size: 10px;
}
.logo{
    width: 200px;

}
.colore2{
    background-color: rgb(14, 135, 255);
}
.colore3{
    background-color: rgb(192, 230, 246);
}
.colore4{
    background-color:rgb(192, 230, 246) ;
}
.none{
    text-align: center;
    font-weight: bold;
    background-color:#313A6B ;
    color: white;
    padding: 20px;
    height: 20%;
}
table{
    margin-bottom: 60px;
}
.evidenziato{
    background-color: yellow;
}