header div {
    background-color: rgb(21, 163, 246);
    padding: 35px 100px; 

}
.fontmini {
    font-size: 10px;
}
.logo{
    width: 200px;

}
.colore2{
    background-color: rgb(14, 135, 255);
}
.colore3{
    background-color: rgb(192, 230, 246);
}
.colore4{
    background-color:rgb(192, 230, 246) ;
}
