header div {
    background-color: rgb(21, 163, 246);
    padding: 35px 100px; 

}
.fontmini {
    font-size: 10px;
}
.logo{
    width: 200px;

}
table, th, td{
    border: solid 1px color(black);
    border-collapse: collapse;
    padding: 10px;
}